/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Split the screen in half */


@font-face {
  font-family: FontOL;
  src: url(fonts/Bergen_Mono/BergenMonoRegular.otf);
}
body {
  /*font-family:'Courier New', Courier, monospace;*/
  color: white;
}
h2, p, button, .parrafos, .parrafos2{
  font-family:FontOL;
}

.slides{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides2{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


#fechas{
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

.split {
  display: flex;
  height: 100%;
  width: 50%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

@media (max-width: 800px) {
  .split{
    height: auto;
    width: auto;
  }
}

@media (max-width: 800px) {
  .slides, .slides2 {
    flex-direction: column;
    height: fit-content;
    box-sizing: border-box;
  }

  .left, .left2{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .split.right, .split.right2, .split.right3{
    width: 100%;
    height: 1000px;
  }

  .motto{
    /* margin-top: 15%; */
    text-align: center;
    }

}

@media (max-width: 750px){
  .motto{
    padding-top: 30px;
  }
  
}

.left {
  left: 0;
  background-color: rgb(23, 23, 23);
}
.left2 {
  left: 0;
  background-color: rgb(23, 23, 23);
}


.titulos{
  width: 50%;
  text-align: center;
  height: auto;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ffffff ;
  margin: 0;
}

.titulos2{
  width:50%;
  text-align: center;
  height: auto;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ffffff ;
  margin: 0;
}



.parrafos{
  text-align: start;
  line-height: 1.15em;
  padding: 20px;
}

.artedecompartir{
  letter-spacing: 0.25em;
}

.parrafos2{
  text-align: start;
  line-height: 1.5em;
  padding: 20px;

}

.subtitulos{
  text-align: center;
  color: rgb(139, 177, 180);
  

}

.right {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(imgs/comoentrarBG.jpg);
  height: 100%;
  background-size:cover;
}

.right2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(imgs/arbolperro.jpeg);
  height: 100%;
  background-size:cover;
  background-position: center;
}
.right3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(imgs/tipsnuevaBG.jpg);
  height: 100%;
  background-size:cover;
  background-position: center;
}

.centered {
  width: 80%;
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.centered2 {
  width: 80%;
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.centered img {
  width: 300px;
}


#convocatoria {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: rgb(94, 114, 133);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 11;
  padding: 0px;
  }

  @media (max-width:800px) {
    #convocatoria{
      height: 100%;
      padding-top: 100px;
      padding-bottom: 100px;
      overflow: hidden;
    }
    
  }

.centered-text {
  text-align: center;
}

.section-content p {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
}

a.rounded-button {
  padding: 1em 2em;
  border: 2px solid rgb(242, 242, 237);
  border-radius: 25px;
  background-color: transparent;
  color: rgb(242, 242, 237);
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  font-family: FontOL;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#exhibicion {
  height: 100vh;
  width: 100%;
  background-color: rgb(125, 133, 112);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 11;
  }

.section-content p {
 margin-left: 15%;
 margin-right: 15%;
 margin-top: 10px;
 margin-bottom: 10px;
}

button.rounded-button {
 padding: 1em 2em;
 border: 2px solid rgb(242, 242, 237);
 border-radius: 25px;
 background-color: transparent;
 color: rgb(242, 242, 237);
 font-size: 16px;
 cursor: pointer;
}

.button-container {
 display: flex;
 justify-content: center;
 align-items: center;
}

.square-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: transparent;
  flex-direction: row;
}

.square {
  width: 125px;
  height: 100px;
  border-radius: 20px;
  background-color: rgb(242, 242, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 80px;
  margin: 10px;
}

.top-bg {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(to top, transparent, #000 120%);
  height: 12vh;
  z-index: 12;
}

.motto {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

#cover {
  background-image: url('imgs/cover.gif');
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logokolab {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
}

.logolente {
  width: 400px;
}

.artedecompartir {
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: absolute;
  left: 20px;
  top: 75%;
  transform: translate(0, -50%);
  height: 100%;
}

.logo-figuras {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 11;
}

@media (max-width:850px){
  .logokolab {
    width: 150px;
  }
}

@media (max-width:850px){
  .logo-figuras {
    width: 65px;
  }
}

@media (max-width: 850px){
  .logolente{
    width: 250px;
  }
}


/* Start Nav Styles */
@media (max-width:800px) {
  .navbar{
    width: 30%;
  }
}

.navbar {
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-family: FontOL;
}
.navbar .nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar .nav-menu li {
  position: relative;
  min-width: 200px;
  text-align: right;
}
.navbar .nav-menu li .dot {
  display: block;
  color: #fff;
  padding: 5px 0;
}
.navbar .nav-menu li .dot::before,
.navbar .nav-menu li .dot::after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 50%;  
  top: 50%;  
  transition: all .3s ease;
}
.navbar .nav-menu li .dot::before {
  width: 5px;
  height: 5px;
  right: 0;
  border: 2px solid #f2f2ed;
  transform: translateY(-50%);
}
.navbar .nav-menu li .dot::after {
  width: 15px;
  height: 15px;
  border: 2px solid #f2f2ed;
  right: -5px;
  transform: translateY(-50%) scale(0);
}
.navbar .nav-menu li .dot.active::before,
.navbar .nav-menu li:hover .dot::before {
  background: #f2f2ed;
  border-color: transparent;
}
.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after {
  transform: translateY(-50%) scale(1);  
}
.navbar .nav-menu li .dot span {
  display: inline-block;
  opacity: 0;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: capitalize;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 3px;
  margin-right: 30px;
  transform: translateX(20px);
  transition: all .3s ease;
}
.navbar .nav-menu li .dot span::before {
  display: block;
  position: absolute;
  content: '';
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  top: 50%;
  transform: translate(7px, -50%);
  right: 0;
  transition: all .3s ease;
}
.navbar .nav-menu li .dot.active span,
.navbar .nav-menu li:hover .dot span {
  transform: translateX(0px);
  opacity: 1;
}


.menu-bg {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(to right, transparent, #000 120%);
  width: 12vw;
  z-index: 10;
}

/* End Nav Styles */


/* KRIS */

#convocatoria p {
  font-size: 30px;
}

.gallery {
  display: flex;
  justify-content: center;
  padding: 14rem;
}

.lightboxgallery {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightboxgallery img {
  max-width: 100%;
  visibility: hidden;
}

@media only screen and (max-width: 800px) {

  .gallery {
    padding: 4rem;
  }

  .lightboxgallery{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .img-container {
    height: 100px;
  }

  #convocatoria p {
    font-size: 22px;
  }

  /* código para acomodar las cosas de arriba */

  .logokolab {
    width: 120px;
  }

  .logo-figuras {
    width: 40px;
  }

  .motto {
    font-size: 10px;
  }

}

@media only screen and (min-width: 1100px) {

  .gallery {
    padding: 8rem 32rem;
  }
}

.primeraimagen {
  background-image: url("imgs/1thumb.png");
  background-size: cover;
  background-position: center center;
}

.segundaimagen {
  background-image: url("imgs/2thumb.png");
  background-size: cover;
  background-position: center center;
}

.terceraimagen {
  background-image: url("imgs/3thumb.png");
  background-size: cover;
  background-position: center center;
}

.cuartaimagen {
  background-image: url("imgs/4thumb.png");
  background-size: cover;
  background-position: center center;
}

.quintaimagen {
  background-image: url("imgs/5thumb.png");
  background-size: cover;
  background-position: center center;
}

.sextaimagen {
  background-image: url("imgs/6thumb.png");
  background-size: cover;
  background-position: center center;
}

.septimaimagen {
  background-image: url("imgs/7thumb.png");
  background-size: cover;
  background-position: center center;
}

.octavaimagen {
  background-image: url("imgs/8thumb.png");
  background-size: cover;
  background-position: center center;
}

.img-container:hover {
  cursor: pointer;
}

.logokolab, .logo-figuras, .motto {
  position: fixed;
  z-index: 20;
}

.logo-figuras {
  width: 70px;
}



#cover {
  height: 0;
}

#covervideo .logolente {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#covervideo {
  display: grid;
  min-height: 100%;
  overflow: hidden;

}


video {
  min-width: 100%;
  min-height: 100%;
}




@media (min-width:800px) {
  .lightboxgallery {
    min-width: 800px;
  }
}

/* KRIS */

