/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: FontOL;
    src: url(fonts/Bergen_Mono/BergenMonoRegular.otf);
}

@font-face {
  font-family: OLhelvetica;
  src: url(fonts/hevelticaneue/Helvetica.ttc);
}

@font-face {
  font-family: OLhelveticabold;
  src: url(fonts/hevelticaneue/HelveticaNeue\ Bold.ttf);
}


.logoOL {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
}
/*-------------HORIZONTALES-----------------------------------------------------------------------------------------------------------------------*/

.inner-image-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  max-width: 700px;
}


@media (max-width: 950px){
  .inner-image-horizontal {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 5px;
      height: auto;
      max-width: 500px;
    }

}

@media (max-height: 800px){
  .inner-image-horizontal {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 5px;
      height: auto;
      max-width: 400px;
    }
}

/*--------------VERTICALES------------------------------------------------------------------------------------------------------------------------*/



.container {
    align-items: center;
    overflow: hidden;
    display: flex;
    height: 100vh;
    justify-content: center;
    object-fit: cover;
  }
  
  .inner-image {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    max-width: 700px;
  }
  

  .bg-image{
    display: flex;
    filter: brightness(.47);
  }

  .autor{
    width: 60%;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-family: OLhelveticabold;
    font-size: 18px;
    font-weight: bold;
  }

  .text{
    width: 60%;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-family: OLhelvetica;
    font-size: 16px;
  }

  @media (max-width: 950px){
    .inner-image {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 5px;
        max-width: 300px;
        max-height: 400px;
      }
      .container {
        align-items: center;
        overflow: hidden;
        display: flex;
        height: 100vh;
        
      }

  }

  @media (max-height: 1200px){
    .inner-image {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 5px;
        height: 90%;
      }
      .container {
        align-items: center;
        overflow: hidden;
        display: flex;
        height: 100vh;
        
      }

  }



/* ---------------brandbar--------------- */
.brandbar{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    padding-top: 20px;
}

.brandbar-top{
    max-width: 950px;
    margin: auto;
    padding:10px 0px 10px 0px;
}

.row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 950px){
    .row{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin-top: 10px;
    }
}

@media (max-width: 800px){
    .row{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin-top: 10px;
    
    }
    .brandbar img{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    }
}

.brandbar img{ 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    max-width: 250px;
    margin: 20px;
    padding-bottom: 50px;
    max-height: 75px;
    
}

.brand{
    justify-content: center;
}

.brandbar img:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%); 
    opacity: 1;
}